/*ropoto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*main style*/
html,body{
    font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;  
}
/*utility classes*/
.container{
    max-width: 80%;
    margin: auto;
}
.bg-dark{
    background-color: #252A34;
    color: white;
}
.text-primary{
    color: #ff2e63; ;
}

.text-center{
    text-align: center;
}
.l-heading{
    padding: 2rem 10rem;
    font-size: 3rem;
    text-transform: uppercase;
}
    .py-1{
    padding: 1.5rem 0;
}
.btn{
    background-color: #08d9d6;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}
/*section navbar*/
#navbar {
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 1;
}
#navbar.logo{
    padding: 1rem;
}
#navbar.logo img{
    width: 80px;

}
#navbar ul{
    list-style: none;
    display: flex;

}
#navbar ul li a{
    color: #fff;
    padding: 1rem;
}
#navbar ul li a:hover{
    background-color: #08d9d6;
    border-radius: 5px;
}
/*showcase*/
#showcase{
    background: #252A34 url(../img/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;

/*overlay*/
    background-color: rgba(0, 0, 0, 0.8);
}